{% extends 'base.html.twig' %}

{% block title %}Hello AmisController!{% endblock %}

{% block body %}
    <h1 class="text-center">Amis</h1>
    <div class="container d-flex justify-content-center flex-column">
        <section class="row area amis d-flex justify-content-center">
            <div class="block_amis">
                <div class="row">
                    <div class="col">
                        <h2>Amis en ligne</h2>
                    </div>
                </div>
            </div>
        </section>
        <section class="row area amis d-flex justify-content-center">
            <div class="block_amis">
                <div class="row">
                    <div class="col">
                        <h2>Demandes d'amis</h2>
                    </div>
                </div>
            </div>
        </section>
        <section class="row area amis d-flex justify-content-center">
            <div class="block_amis">
                <div class="row">
                    <div class="col">
                        <h2>Inviter un joueur</h2>
                        <div class="demande_contact_formulaire">
                            <div>
                                {{ form_start(contact_request_form) }}
                                    <div class="my-custom-class-for-errors">
                                        {{ form_errors(contact_request_form) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(contact_request_form.Pseudo) }}
                                        {{ form_widget(contact_request_form.Pseudo, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_widget(contact_request_form.Demander, {'attr': {'class': 'btn'}}) }}
                                    </div>
                                {{ form_end(contact_request_form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>    
    <script>
        $(document).ready(function(){
            // Si l'utilisateur est connecté
            {% if app.user %}
                //-- Inscription a un topic mercure.
                // Initialisation de l'Url mercure
                const url = new URL('http://localhost:3000/.well-known/mercure')
                // On ajoute le "topic" correspondant aux notifications de chat
                url.searchParams.append('topic','/accueil')
                // On ajoute le "topic" correspondant aux notifications de l'utilisateur courant
                url.searchParams.append('topic','/accueil/notifications/demande_ajout/' + {{ app.user.id }})
                // On écoute les évènements provenant de mercure
                const eventSource = new EventSource(url)
                eventSource.onmessage = (e) => {
                    if(JSON.parse(e.data).topic === '/accueil/notifications/demande_ajout/' + {{ app.user.id }}){
                        let toast = $('.toast');
                        $('.toast-body').html(JSON.parse(e.data).notification)
                        toast.toast({ autohide: false })
                        toast.toast('show')
                    }
                }
                //-- Désinscription aux topics mercure
                window.addEventListener('beforeunload', function () {
                    if(eventSource != null){
                        eventSource.close()
                    }
                })
                //-- Formulaire demande de contact
                $('.demande_contact_formulaire img').on('click', function () {
                    $('.demande_contact_formulaire form').toggleClass('show')
                })
            {% endif %}
        });
    </script>
{% endblock %}
