<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    </head>
    <body>
        <input type="checkbox" class="hamburger_checkbox">
        <div class="hamburger" id="hamburger">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
            <div class="notification " style="color: #0b2e13">
                <i class="fa-solid fa-bell"></i>
            </div>
        </div>
        <div class="sidenav">
            <div class="sidenav_content">
                <ul>
                    <li>
                        <i class="fa-solid fa-house"></i>
                        <a href="{{ path('accueil') }}">Accueil</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-arrow-right-to-bracket"></i>
                        <a href="{{ path('login') }}">Connexion</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-user-pen"></i>
                        <a href="{{ path('app_register') }}">Inscription</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-user-group"></i>
                        <a href="{{ path('amis') }}">Amis</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-star"></i>
                        <a href="{{ path('classement') }}">Classement</a>
                    </li>
                </ul>
            </div>
        </div>
        {% block body %}{% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script>
                $(document).ready(function(){
                    // Création du clavier
                    $('#keyboard').jkeyboard({
                        input: $('#search_field'),
                        layout: 'azerty',
                    });
                    // Variables de la grille de jeu
                    let id_partie;
                    let difficultee;
                    let ligne_actuelle = 0;
                    let essais = 6;
                    let n_case = 1;
                    {% if id is defined %}
                        difficultee = {{id}};
                        init_partie({{id}});
                    {% endif %}
                    // Validation de l'essai / MAJ de la ligne
                    $('.return').click(function() {
                        let mot_valide = true;
                        let mot = "";
                        $(".line_" + ligne_actuelle).each(function(){
                            mot += $(this).text();
                            if($(this).text() === "." || $(this).text() === "_"){
                                mot_valide = false;
                                return false;
                            }
                        });
                        if(!mot_valide){
                            alert('mot trop court !');
                        } else {
                            $.ajax({
                                method: "POST",
                                url: "{{ path('maj_ligne') }}",
                                data: {
                                    ligne_actuelle: ligne_actuelle,
                                    mot: mot,
                                    id_partie: id_partie
                                },
                                success: function(data){
                                    console.log(data)
                                    ligne_actuelle = data.essais;
                                    let numero_cellule = 1;
                                    // MAJ de la ligne précédente
                                    data.ligne_precedente.forEach(function (lettre, index) {
                                        let cellule;
                                        if(ligne_actuelle -1 === 0){
                                            cellule = $('.line_' + (ligne_actuelle - 1) +".cell_" + (index+1));
                                        }else{
                                            cellule = $('.line_' + (ligne_actuelle - 1) +".cell_" + (((ligne_actuelle - 1) * difficultee) + numero_cellule));
                                        }
                                        setTimeout(function(){
                                            if(lettre.placement === true && lettre.presence === true){

                                                if(!cellule.hasClass("valide_cell")){
                                                    cellule.addClass("valide_cell")
                                                }
                                            } else if (lettre.presence === true) {
                                                if(!cellule.hasClass("is_in_cell")){
                                                    cellule.html("<p>"+ cellule.text() +"</p>")
                                                    cellule.addClass("is_in_cell")
                                                }
                                            }
                                        }, 300);
                                        numero_cellule++;
                                    })
                                    // Préparation de la nouvelle ligne
                                    $('.line_' + ligne_actuelle+".cell_" + ((difficultee * ligne_actuelle)+1))
                                    .addClass('current_cell')
                                    .text("_");
                                    $('.line_' + ligne_actuelle+".cell_" + ((difficultee * ligne_actuelle)+difficultee))
                                    .addClass('last_cell')
                                }
                            });
                        }
                    });
                    // Creation de la partie
                    function init_partie(longueur){
                        $.ajax({
                            method: "POST",
                            url: "{{ path('genere_mot') }}",
                            data: {id: longueur},
                            success: function(reponse){
                                id_partie = reponse[1];
                                difficultee = longueur;
                                creationDeLaGrille(reponse[0], difficultee);
                            }
                        });
                    }
                    // Affichage de la partie
                    function creationDeLaGrille(mot, difficultee) {
                        let box = $('.box');
                        box.css({
                            "grid-template-columns":" repeat(" + difficultee + ",1fr)"
                        })
                        $('.mot_a_trouver').append(mot);
                        for(let i = 0; i < essais; i++) {
                            for(let j = 0; j < difficultee; j++) {
                                if(i < 1 && j < 1){
                                    box.append('<div class="line_' + i + ' valide_cell cell cell_'+ n_case +'">' + mot.split('')[j] + '</div>')
                                } else {
                                    if(i < 1 && j === 1){
                                        box.append('<div class="line_' + i + ' current_cell cell cell_'+ n_case +'">_</div>')
                                    } else if(i < 1 && j  === (difficultee -1)){
                                        box.append('<div class="line_' + i + ' cell cell_'+ n_case +' last_cell" >.</div>')
                                    } else if(i < 1 && j <= difficultee){
                                        box.append('<div class="line_' + i + ' cell cell_'+ n_case +'">.</div>')
                                    } else {
                                        box.append('<div class="line_' + i + ' cell cell_'+ n_case +'"></div>')
                                    }
                                }
                                n_case++;
                            }
                        }
                    }
                });
            </script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
