{% extends 'base.html.twig' %}

{% block title %}Otsum{% endblock %}

{% block body %}
    <input type="hidden" class="current_line_number" value="">
    <h1 class="text-center w-100">OTSUM</h1>
    <div class="contenu d-flex justify-content-center align-items-center">
        <div class="grille" id="grille">
            <table class="table"></table>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <input type="hidden" id="search_field">
                <div id="keyboard"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {{ form_start(dropOutForm, {'action': path('dropOut')}) }}
                {{ form_widget(dropOutForm.gameId) }}
                <div class="form-group">
                    {{ form_widget(dropOutForm.abandonner, {'attr': {'class': 'btn'}}) }}
                </div>
                {{ form_end(dropOutForm) }}
            </div>
        </div>
    </div>
    {{ include('otsum/js/manageSoloGame.html.twig') }}
{% endblock %}
